@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');





body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    background-color: #024f02;
    color: white;
}

#jeu {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 25px;
    border: ridge 10px #ffffff;
    border-radius: 20px;
    background-color: #257725;
}

#regle {
    width: 25%;
    border: ridge honeydew 5px;
    color: honeydew;
    padding: 15px;
    background-color: #3b3939;
}

li {
    margin: 10px;
}


#dechet {
    width: 20%;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: #383737;
    margin: 40px;
    border: ridge 10px #ffffff;
    border-radius: 15px;
}

.dechets {
    border: ridge 5px black;
    margin: 5px;
}

.dechets:hover {
    border: ridge 5px indianred;
    cursor: pointer;
}

#bouteille {
    width: 40%;
    height: 100px;
    background-image: url(assets/sticker-recyclage-bouteille-plastique-eau.jpg);
    background-size: cover;
}

#canette {
    width: 40%;
    height: 100px;
    background-image: url(assets/canettes.jpg);
    background-size: cover;
    background-position: center;
}

#verre {
    width: 40%;
    height: 100px;
    background-image: url(assets/bouteilles_en_verre.jpg);
    background-size: cover;
    background-position: center;
}

#papier {
    width: 40%;
    height: 100px;
    background-image: url(assets/istockphoto-1129539955-170667a.jpg);
    background-size: cover;
    background-position: center;
}

#organique {
    width: 40%;
    height: 100px;
    background-image: url(assets/6662790_preview.png);
    background-size: cover;
    background-position: center;
}

#journal {
    width: 40%;
    height: 100px;
    background-image: url(assets/13589663.jpg);
    background-size: cover;
    background-position: center;
}

#conserve {
    width: 40%;
    height: 100px;
    background-image: url(assets/120644922.png);
    background-size: cover;
    background-position: center;
}

#lait {
    width: 40%;
    height: 100px;
    background-image: url(assets/brique-de-lait-1-2-ecreme-carrefour-1l-uht.jpg);
    background-size: cover;
    background-position: center;
}

#aluminium {
    width: 40%;
    height: 100px;
    background-image: url(assets/barquette-en-aluminium-350-ml.jpg);
    background-size: cover;
    background-position: center;
}

#organique2 {
    width: 40%;
    height: 100px;
    background-image: url(assets/dechets_organiques.jpg);
    background-size: cover;
    background-position: center;
}

#poubelles {
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #3b3939;
    border-radius: 15px;
    border: ridge 5px honeydew;
    text-align: center;
    margin: 40px;
}

i {
    font-size: 8em;
    margin: 10px;
}

i:hover {
    cursor: pointer;
}

#jaune {
    width: 80%;
    height: 25%;
    color: #c2c214;
}

#vert {
    width: 80%;
    height: 25%;
    color: green;
}

#bleu {
    width: 80%;
    height: 25%;
    color: blue;
}

#marron {
    width: 80%;
    height: 25%;
    color: #a66e20;
}